*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-image: url("https://i.pinimg.com/736x/26/89/e4/2689e47bf4e96b2fae132c150138ccec.jpg");

}

.contenedor_total{
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    border: 5px dashed blueviolet;
    background-image: url("https://i.pinimg.com/originals/4d/fe/41/4dfe41dd4b4814a64afcdb909fcc3416.png");
}

.pointer{
    background-color: #444;
    height: fit-content;
    margin-top: 30px;
    border-bottom: 0px;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: auto;
    border-width: 5px;
}

#bolita{
    background-color: red;
    border: 4px dashed #b22;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    transition: all 0.3s;
    border-width: 2px;
    cursor: pointer;
    position: absolute;
}

.minas{
    cursor: pointer;
    position: absolute;
    user-select: none;
    font-size: 35px;
    user-zoom: none;
    border-radius: 100px;
    border-width: 1px;
}


.heart-with-gradient {
    width: 50px;
    display: inline-block;
    -webkit-mask: 
       radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
       radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
       linear-gradient(to bottom left, red 43%,transparent 43%) bottom left,
       linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask: 
       radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
       radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
       linear-gradient(to bottom left, red 43%,transparent 43%) bottom left,
       linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
    background: linear-gradient(red,blue);
  }
  
  .heart-with-gradient::before {
    content: '';
    display: block;
    padding-top: 100%;
  }